In [1]:
import numpy as np
import pandas as pd
from sklearn import preprocessing
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.model_selection import train_test_split, KFold
from nltk.corpus import stopwords
from nltk.stem.snowball import SnowballStemmer
import matplotlib
from matplotlib import pyplot as plt
# import seaborn as sns
%matplotlib inline
%config InlineBackend.figure_format = 'retina'

In [2]:
data = pd.read_csv("C:/Users/Suriya Prakash/OneDrive/Desktop/train.csv")

In [3]:
data.head()

        id                                               text author
0  id26305  This process, however, afforded me no means of...    EAP
1  id17569  It never once occurred to me that the fumbling...    HPL
2  id11008  In his left hand was a gold snuff box, from wh...    EAP
3  id27763  How lovely is spring As we looked from Windsor...    MWS
4  id12958  Finding nothing else, not even gold, the Super...    HPL

In [5]:
data.shape

(19579, 3)

In [6]:
def remove_punctuation(text):
    '''a function for removing punctuation'''
    import string
    # replacing the punctuations with no space, 
    # which in effect deletes the punctuation marks 
    translator = str.maketrans('', '', string.punctuation)
    # return the text stripped of punctuation marks
    return text.translate(translator)

In [7]:
data['text'] = data['text'].apply(remove_punctuation)
data.head(10)

        id                                               text author
0  id26305  This process however afforded me no means of a...    EAP
1  id17569  It never once occurred to me that the fumbling...    HPL
2  id11008  In his left hand was a gold snuff box from whi...    EAP
3  id27763  How lovely is spring As we looked from Windsor...    MWS
4  id12958  Finding nothing else not even gold the Superin...    HPL
5  id22965  A youth passed in solitude my best years spent...    MWS
6  id09674  The astronomer perhaps at this point took refu...    EAP
7  id13515         The surcingle hung in ribands from my body    EAP
8  id19322  I knew that you could not say to yourself ster...    EAP
9  id00912  I confess that neither the structure of langua...    MWS